<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- ПРОИЗВОДСТВЕННАЯ конфигурация логгирования -->
    
    <!-- Переменные для конфигурации -->
    <property name="LOG_DIR" value="${LOG_DIR:-/var/log/gatling-prometheus}" />
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />
    <property name="METRICS_LOG_LEVEL" value="${METRICS_LOG_LEVEL:-WARN}" />
    
    <!-- Временная метка -->
    <timestamp key="datetime" datePattern="yyyyMMdd'T'HHmmss"/>
    
    <!-- Консольный аппендер с структурированным форматом -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
        <immediateFlush>true</immediateFlush>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    
    <!-- Файловый аппендер для метрик -->
    <appender name="METRICS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/metrics-${datetime}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/metrics-%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
            </providers>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>
    
    <!-- Файловый аппендер для ошибок -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/errors-${datetime}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/errors-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    
    <!-- Файловый аппендер для производительности -->
    <appender name="PERFORMANCE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/performance-${datetime}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/performance-%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
            </providers>
        </encoder>
        <immediateFlush>false</immediateFlush>
    </appender>
    
    <!-- Асинхронный аппендер для высокой производительности -->
    <appender name="ASYNC_METRICS" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="METRICS_FILE"/>
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>
    
    <appender name="ASYNC_PERFORMANCE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="PERFORMANCE_FILE"/>
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>
    
    <!-- Логгеры для метрик -->
    <logger name="ru.x5.svs.gatling.prometheus" level="${METRICS_LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_METRICS"/>
    </logger>
    
    <!-- Логгер для производительности -->
    <logger name="PERFORMANCE" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_PERFORMANCE"/>
    </logger>
    
    <!-- Логгер для ошибок -->
    <logger name="ERROR" level="ERROR" additivity="false">
        <appender-ref ref="ERROR_FILE"/>
    </logger>
    
    <!-- Логгер для бизнес-событий -->
    <logger name="BUSINESS" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_METRICS"/>
    </logger>
    
    <!-- Подавление шумных логгеров -->
    <logger name="io.gatling.http.ahc" level="WARN"/>
    <logger name="io.gatling.http.engine.response" level="WARN"/>
    <logger name="io.gatling.http.action.ws.fsm" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.hc" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.gatling.core" level="WARN"/>
    
    <!-- Корневой логгер -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
    
</configuration>
